<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987191499787-gd0t7vqud9ds9jaivmmpthodq5sb77vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987191499787-gd0t7vqud9ds9jaivmmpthodq5sb77vp</string>
	<key>API_KEY</key>
	<string>AIzaSyBXJqU2mMv52XBJpb0wI-Kx9JF6w6OwwmY</string>
	<key>GCM_SENDER_ID</key>
	<string>987191499787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-66e02</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-66e02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987191499787:ios:1e91ed4ce422f4c47fbb0e</string>
</dict>
</plist>